# docker build -t my-nextjs-app .
# docker run -d -p 3000:3000 my-nextjs-app
# docker compose up -d
version: "3.9"
services:
  web:
    build: .
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: always
